{{#partial "title"}}
    About: Time2hack
{{/partial}}

{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class=""><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    <h1>About Time2Hack</h1>
    <hr>
    <h4>There isn't much to know. It's a recurring gag from the youtube channel Funhaus. The image used for the site above is not mine and belongs to a reddit user with the handle /u/SanDVa</h4>
{{/partial}}

{{> layout.hbs}}