{{#partial "title"}}
    About: Time2hack
{{/partial}}

{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class=""><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}

{{/partial}}

{{> layout.hbs}}