{{#partial "content"}}
    <h3>Welcome to the least exclusive Hack-A-Thon on the web!</h3>
    <h4>Grab your friends (or the people immediately to your left) and make a team, it's time to hack.</h4>

    <a href="/team/new"><button class="btn btn-info">Create my team!</button></a>

    {{#if Team}}
        <h2><large>Current Teams:</large></h2>
        <ul>
            {{#each Team}}
                <li>
                    <h2>{{this.teamName}}</h2>
                    <h3><small>Team description: </small>{{this.teamDescription}}</h3>
                    <h3>Members:</h3>
                    <ul>
                        {{#each this.members}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    {{/if}}

{{/partial}}

{{> layout.hbs}}