<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Time2Hack{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/time2hack.png" height="300">
        <h1>It's Time-2-Hack <small>Are you ready?</small></h1>
    </div>

    <div>
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}

<!--//<a href="/teams/moreMembers"><button class="btn btn-warning btn-sm">Click to add additional members</button></a>-->