{{#partial "content"}}
    <h2>Fill out this form to submit your new team.</h2>

    <form action="/teams">
        <label for="teamName">What's your Team Name?</label>
        <br>
        <br>
        <input class="form-control" type="text" id="teamName" name="teamName">
        <br>
        <hr>
        <label for="teamDescription">Describe your team (additional members can be added from the team details page):</label>
        <textarea class="form-control" rows="3" name="teamDescription" id="teamDescription"></textarea>
        <br>
        <hr>
        <label for="teamMembers">Add your team members below:</label>
        <br>
        <br>
        <input type="text" name="teamMembers" id="teamMembers">
        <br>
        <br>
        <input type="text" name="teamMembers2" id="teamMembers2">
        <br>
        <br>
        <input type="text" name="teamMembers3" id="teamMembers3">
        <br>
        <br>
        <input type="text" name="teamMembers4" id="teamMembers4">
        <br>
        <br>
        <input type="text" name="teamMembers5" id="teamMembers5">
        <br>
        <br>
        <button type="submit" class="btn btn-info btn-lg">Submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}