{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class="active"><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    <h2>Fill out this form to submit your new team.</h2>

    <form action="/teams/add" method="post">
        <label for="teamName">What's your Team Name?</label>
        <br>
        <br>
        <input class="form-control" type="text" id="teamName" name="teamName">
        <br>
        <hr>
        <label for="teamDescription">Describe your team:</label>
        <textarea class="form-control" rows="3" name="teamDescription" id="teamDescription"></textarea>
        <br>
        <hr>
        <label for="memberName">Add yourself to your team below: (additional members can be added from the team details page):</label>
        <br>
        <br>
        <input type="text" name="memberName" id="memberName">
        <br>
        <br>
        <label for="memberEmail">Enter your email:</label>
        <br>
        <br>
        <input type="text" name="memberEmail" id="memberEmail">
        <br>
        <br>
        <label for="memberAbout">Give a few details about yourself:</label>
        <br>
        <br>
        <input type="text" name="memberAbout" id="memberAbout">
        <br>
        <br>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}