{{#partial "content"}}
    <h1>Success!, your team ({{newTeam.teamName}}) has been added to the event.</h1>
    <a href="/">Go back to the homepage to see your team's details.</a>
{{/partial}}

{{> layout.hbs}}