{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class="active"><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    <h1>Success!, your team ({{newTeam.teamName}}) has been added to the event.</h1>
    <a href="/teams/{{newTeam.teamName}}">View your team details.</a>
    <br>
    <a href="/">Home</a>
{{/partial}}

{{> layout.hbs}}