{{#partial "nav"}}
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/about">About Time2Hack</a></li>
    <li role="presentation" class="active"><a href="/teams">Teams</a></li>
{{/partial}}

{{#partial "content"}}
    {{#if invalidSubmission}}
        <h2>Sorry, your submission was invalid. Please be sure to submit a valid team name and to include a name and email address for a member of the team. Valid names have at least 1 letter and valid email addresses must contain the "@" sign.</h2>
        <a href="/teams/new">Try again?</a>
    {{else}}
        <h2>Sorry, your submission was invalid. Please be sure to submit a valid name and email address for this member of the team. Valid names have at least 1 letter and valid email addresses must contain the "@" sign.</h2>
        <a href="/teams/{{team.id}}/members/{{member.id}}/edit">Try again</a>
    {{/if}}
        <br>
        <a href="/">Home</a>
{{/partial}}

{{> layout.hbs}}